<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.queencastle.dao.mapper.shop.CustomerMapper">
	<resultMap id="CustomerMap" type="com.queencastle.dao.model.shop.Customer">
		<id column="id" property="id" typeHandler="idHandler" />
		<result column="customer_name" property="customerName"
			jdbcType="VARCHAR" />
		<result column="customer_tel" property="customerTel" jdbcType="VARCHAR" />
		<result column="customer_sex" property="customerSex" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updateAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,customer_name,customer_tel,customer_sex,created_at,updated_at
	</sql>

	<select id="getById" resultMap="CustomerMap">
		select
		<include refid="Base_Column_List" />
		from queen_shop_customer where id=#{id,typeHandler=idHandler}
	</select>

	<insert id="insert" parameterType="com.queencastle.dao.model.shop.Customer">
		<selectKey resultType="long" keyProperty="idRaw">
			SELECT
			LAST_INSERT_ID() AS id
		</selectKey>
		insert into
		queen_shop_customer(customer_name,customer_tel,customer_sex,created_at,updated_at)
		values(
		#{customerName},
		#{customerTel},
		#{customerSex},
		now(),now())
	</insert>

	<select id="getCustomerCountByParams" resultType="java.lang.Integer">
		select count(*)
		from queenshop_customer
	</select>

	<select id="getCustomerByParams" resultMap="CustomerMap">
		select
		<include refid="Base_Column_List" />
		from queenshop_customer order by id desc
		limit #{page.offset},
		#{page.size}
	</select>

</mapper>