<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.queencastle.dao.mapper.shop.ProductStandardMapper">
	<resultMap id="ProductStandardMap"
		type="com.queencastle.dao.model.shop.ProductStandard">
		<id column="id" property="id" typeHandler="idHandler" />
		<result column="colour" property="colour" jdbcType="VARCHAR" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="FLOAT" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updateAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id,colour,size,img,price,created_at,updated_at
	</sql>

	<select id="getById" resultMap="ProductStandardMap">
		select
		<include refid="Base_Column_List" />
		from queen_shop_productstandard where id=#{id,typeHandler=idHandler}
	</select>
	
	<insert id="insert" parameterType="com.queencastle.dao.model.shop.ProductStandard">
		<selectKey resultType="long" keyProperty="idRaw">
			SELECT	LAST_INSERT_ID() AS id
		</selectKey>
	insert into queen_shop_productstandard(colour,size,img,price,created_at,updated_at)
	values(
	#{colour},
	#{size},
	#{img},
	#{price},
    now(),now())
	</insert>   




</mapper>