<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.queencastle.dao.mapper.goods.UserGoodsAddressMapper">


	<sql id="Base_Column_List">
		id,user_id,provinceCode,cityCode,areaCode,address,created_at
	</sql>


	<insert id="insert" parameterType="com.queencastle.dao.model.goods.UserGoodsAddress">
		<selectKey resultType="long" keyProperty="idRaw">
			SELECT	LAST_INSERT_ID() AS id
		</selectKey>
		insert into queen_address (
		user_id,provinceCode,cityCode,areaCode,address,created_at
		)values
		(#{userId,typeHandler=idHandler}, #{province.code},
		<if test="city != null">
			#{city.code},
		</if>
		<if test="city == null"> 
			null,
		</if>
		<if test="area != null">
			#{area.code},
		</if>
			<if test="area == null">
			null,
		</if>
		#{address},now())
	</insert>

</mapper>