<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>用户推荐二维码</title>
<style type="text/css">

</style>
</head>
<body>
<div class="pageLogin">
	<div th:if="${userQRCode !=null}" style="width:100%;height:100%;text-align:center;">
		<img  th:src="${userQRCode.img}" style="max-width:100%;height:auto;"/>
	</div>
	<div th:if="${userQRCode ==null}">
		该用户没有对应的二维码！！！
	</div>
</div>
	<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" th:inline="javascript" th:src="@{/resources/js/sys/qrcode.js}"></script>	
</body>
</html>